.form-card{
  margin: 10px;;
}
.add-step{
  cursor: pointer;
}
.spacer{
  height: 10px;
}

.hspacer{
  margin: 10px;
}

.add-btn{
  cursor: pointer;
}

.hspacer-big{
  margin: 25px;
}

.btn{
  /* width: 100px; */
  color: #5f5f5f;
  box-shadow: 2px 2px 5px #8a8a8a;
  border-radius: 10px;
  margin-left: 10px;
}

.buttons{
  display: grid;
  grid-template-columns:  1fr;
  /*grid-template-rows: .1fr 1fr 0.5fr 0.5fr;*/
  grid-column-gap: 3px;
  grid-template-areas:
  "header header"
  "content content"

}
