body{
/*  background-color: #f7f7f7;*/
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


.card{
  border-radius: 3px;
  background-color: #ffff;
  /*min-height: 45px;*/
  margin: 10px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: .1fr 1fr 0.5fr 0.5fr;*/
  grid-column-gap: 3px;
  grid-template-areas:
  "header header"
  "content content"
  "content content"
  "content content"
  ". ."
  "footer ."
}

.card_title{
  font-size: 1.3em;
  margin-bottom: 4px;
  grid-area: header;
  padding: 7px;
  margin: 0px;
  background: #F0F0F0;
}

.card_content{
  padding: 10px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 0.8em;
  color: #757575;
  grid-area: content;
}

.card_button{
  padding: 3px;
  border-radius: 3px;
  width: 75px;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
  0 0 0 1px rgba(0,0,0,0.04);
  padding-top: 6px;
  background: #F0F0F0;

}

.cardsubtitle{
  padding-top: 0px;
  padding-bottom: 3px;
}


/*

.navbar{
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #6ad4e2;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "menu filler"
}*/

.navbar{
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
}

.menu_button{
  grid-area: menu;
  display: gird;
}

.history_button{
  font-size: 0.8em;
  color: #ffff;
  background-color: #6a98e2;
  border-radius: 4px;
  grid-area: history;
  text-align: center;
  padding-top: 6px;
  margin: 6px;
}

.new_button{
  font-size: 0.8em;
  color: #ffff;
  background-color: #6a98e2;
  border-radius: 4px;
  grid-area: new;
  text-align: center;
  padding-top: 6px;
}

.button{
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  padding-top: 6px;
}

.image{
  width: 318px;
}


/*** Form Style ***/
/*
.form > * {
 font: 1.4em 'Unkempt', sans-serif;
 color: #000000;
}
*/

.form {
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
  border-radius: 3px;
  margin: 0px;
  padding: 0px;
}

.form_container {
  display: grid;
  grid-template-columns: [labels] .5fr [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: .8em .5em;
  background: #FFFFFF;
  padding: 1.2em;
  margin: 0px;
}
.form_container > label,
.form_container > fieldset  {
  grid-column: labels;
  grid-row: auto;
}
.form_container > input, 
.form_container > select,
.form_container > textarea,
.form_container > button {
  grid-column: controls;
  grid-row: auto;
  padding: .4em;
  border: 1;
}
.form_container > fieldset {
  grid-column: span 2;
}  
.form_container > button {
  background: darkkhaki;
  color: white;
  }
.form_container > textarea {
  min-height: 3em;
}
a {
  cursor: pointer;
}