body{
/*  background-color: #f7f7f7;*/
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}


.card{
  border-radius: 5px;
  background-color: #ffff;
  min-height: 100px;
  margin: 10px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
  padding: 7px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 0.5fr 0.5fr;
  grid-column-gap: 3px;
  grid-template-areas:
  "header header"
  "content content"
  ". ."
  "footer ."
}


/* .card{
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
  margin: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 0.5fr 1fr;
  grid-column-gap: 3px;
  grid-template-areas:
  "header header"
  "content content"
  ". ."
  "button button"
} */


.card_title{
  font-size: 1.3em;
  margin-bottom: 4px;
  grid-area: header;
}

.card_content{
  font-size: 0.8em;
  color: #757575;
  grid-area: content;
}

.card_button{
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  padding-top: 6px;
  grid-area: footer;
}

.cardsubtitle{
  padding-top: 0px;
  padding-bottom: 3px;
}


/*

.navbar{
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #6ad4e2;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "menu filler"
}*/

.navbar{
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16),
    0 0 0 1px rgba(0,0,0,0.04);
}

.menu_button{
  grid-area: menu;
  display: gird;
}

.menu_lines{
  margin: 10px;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background-color: #ffff;
  align-self: center;
}

.history_button{
  font-size: 0.8em;
  color: #ffff;
  background-color: #6a98e2;
  border-radius: 4px;
  grid-area: history;
  text-align: center;
  padding-top: 6px;
  margin: 6px;
}

.new_button{
  font-size: 0.8em;
  color: #ffff;
  background-color: #6a98e2;
  border-radius: 4px;
  grid-area: new;
  text-align: center;
  padding-top: 6px;
}


.button{
  margin: 5px;
  border-radius: 3px;
  text-align: center;
  padding-top: 6px;
}

.image{
  width: 318px;
}
